body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("banner.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.bannerlongs {width: auto;}
.bannersquare {width: auto;}

/* Place text in the middle of the image */
.hero-text {
  text-align:left;
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
  color: white;
}
/* 
    Write CSS here to ensure that the back to top button is fixed to the 
    bottom right hand side of the screen 
*/
#back-to-top {
    position: fixed;
    bottom: 80px;
    right: 80px;
}

/* Write CSS here to make navbar sticky to the top of the page */
#navbar { position: fixed;

}

#header {
    position: relative;
    background-color: rgba(240, 248, 255, 0);

}
#header-content {
  margin-top: 10px;
  padding-top: 0%;
  background-color: rgba(240, 248, 255, 0);
}


/* relatively position header image inside header element using CSS here */
#header-image {
    border-radius: 10%;
    width: 300px;
    height: auto;
    position:relative;
    top: 20px;

}
  
/*change form sumition text under contact us heading*/
form {color:#ffffff}


@media only screen and (max-width: 900px)
{
    
    .hero-image {background-size: cover; width: 100%;}

    .hero-text {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 34%;
    }

    }

/*code for mobile devices smaller than 600px*/
body { background-color: rgb(185, 185, 240); }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   body { background-color: rgb(238, 211, 211); }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   body { background-color: rgb(118, 133, 118); }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   body { background-color: rgb(197, 197, 169); }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   body { background-color: rgb(196, 186, 167); }
}